## Data Types:
Integers int<br>
Floating point float<br>
Strings str<br>

## Data Structures:
List list<br>
Tuples tup<br>
Dictionaries dict<br>
Sets set<br>
Booleans bool<br>

## Numbers

In [1]:
2 + 3

5

In [2]:
2 - 3

-1

In [3]:
2 * 3

6

In [4]:
2 / 3

0.6666666666666666

In [5]:
2 % 3

2

In [8]:
2 ** 3

8

In [9]:
2 + 10 * 10 - 3

99

In [10]:
(2 + 10) * 10 - 3

117

## Variable Assignment

In [23]:
a = 2
type(a)

int

In [24]:
a = 'Hello there'
type(a)

str

In [25]:
a = 1.3
type(a)

float

In [26]:
a + a

2.6

In [28]:
my_income = 10000
tax_rate = 0.1

tax = my_income * tax_rate
tax

1000.0

## Strings

In [29]:
'hello'

'hello'

In [30]:
"Hello"

'Hello'

In [31]:
"I can't do that"

"I can't do that"

In [32]:
'I can't do that'

SyntaxError: invalid syntax (<ipython-input-32-e5c452af2d14>, line 1)

### Note:
Strings are ordered sequences and hance we can use indexing and slicing to grab sections of string

### Slicing
[start:stop:step]

In [33]:
print("hello there ")
print("Hello there again")

hello there
Hello there again

In [34]:
print("Hello \n again!")

Hello
 again!

In [35]:
print("Hello \t again!")

Hello 	 again!

In [36]:
len("hello")

5

In [37]:
len("I am hungry")

11

In [38]:
mystring = "Hello World"

In [39]:
mystring[0]

'H'

In [40]:
mystring[8]

'r'

In [41]:
mystring[9]

'l'

In [42]:
mystring[-2]

'l'

In [43]:
mystring = "abcdefgh"

In [44]:
mystring

'abcdefgh'

In [45]:
mystring[2:]

'cdefgh'

In [46]:
mystring[:3]

'abc'

In [48]:
mystring[3:6]

'def'

In [49]:
mystring[::]

'abcdefgh'

In [50]:
mystring[:]

'abcdefgh'

In [51]:
mystring[::2]

'aceg'

In [52]:
mystring[::-1]

'hgfedcba'

### String proeprties and methods

#### Immutability

In [53]:
name = "Tushar"

In [54]:
name[1] = "x"

TypeError: 'str' object does not support item assignment

In [58]:
new_name = name[2:]
new_name

'shar'

In [59]:
new_name = new_name + "p"

In [60]:
new_name

'sharp'

In [61]:
letter = 'z'

In [62]:
letter * 10

'zzzzzzzzzz'

In [63]:
2 + 3

5

In [64]:
'2' + 3

TypeError: can only concatenate str (not "int") to str

#### Methods

In [68]:
x = "hello world"

In [69]:
x.capitalize()

'Hello world'

In [71]:
x.upper()

'HELLO WORLD'

In [72]:
x.lower()

'hello world'

In [73]:
x.split()

['hello', 'world']

#### Formatting

In [75]:
# .format()

print('Hello {}'.format('World'))

Hello World

In [76]:
print('My name is {}, {} {}'.format('Bond','James','Bond'))

My name is Bond, James Bond

In [78]:
print('My name is {2}, {1} {0}'.format('Bond','James','Bond'))

My name is Bond, James Bond

In [79]:
print('My name is {a}, {b} {c}'.format(c = 'Bond',b = 'James',a = 'Bond'))

My name is Bond, James Bond

In [82]:
# float formatting

result = 100/777
result

0.1287001287001287

In [83]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [84]:
print("The result was {r}".format(r = result))

The result was 0.1287001287001287

In [85]:
print("The result was {r:1.3f}".format(r = result))

The result was 0.129

In [86]:
print("The result was {r:2.3f}".format(r = result))

The result was 0.129

In [87]:
print("The result was {r:8.3f}".format(r = result))

The result was    0.129

In [94]:
# f strings

name = "Tushar"

print(f'hello! my name is {name}')

hello! my name is Tushar

## Lists

Ordered sequences. Support indexing and slicing

In [95]:
mylist = [1,2,3,'four']
mylist

[1, 2, 3, 'four']

In [96]:
mylist = ['one','two','three','four']
mylist

['one', 'two', 'three', 'four']

In [97]:
mylist[0]

'one'

In [98]:
mylist[1:-1]

['two', 'three']

In [99]:
mylist[::]

['one', 'two', 'three', 'four']

In [100]:
mylist[::-1]

['four', 'three', 'two', 'one']

In [101]:
another_list = ['four','five']

In [103]:
# Concatenation

new_list = mylist + another_list
new_list

['one', 'two', 'three', 'four', 'four', 'five']

In [104]:
new_list[0] = "ONE"

In [105]:
new_list

['ONE', 'two', 'three', 'four', 'four', 'five']

In [115]:
# Appending an element at the end

new_list.append('six')
new_list

['ONE', 'two', 'three', 'four', 'four', 'five', 'six']

In [116]:
# Removing from the end

new_list.pop()

'six'

In [117]:
new_list

['ONE', 'two', 'three', 'four', 'four', 'five']

In [118]:
# Removing an element from a specific index

new_list.pop(0)

'ONE'

In [119]:
new_list

['two', 'three', 'four', 'four', 'five']

In [238]:
# Sort
# inplace sorting

list1 = ['a','z','r','b','l']
list1.sort()
list1

list1 = ['a','z','r','b','l']
sorted(list1)

['a', 'z', 'r', 'b', 'l']

['a', 'b', 'l', 'r', 'z']

In [124]:
# Reverse
# inplace

list1.reverse()
list1

['z', 'r', 'l', 'b', 'a']

## Dictionary

Unordered Mappings for storing objects. Key-value pairs. Hash map

In [125]:
my_dict = {'key1':'value1','key2':'value2'}

In [126]:
my_dict['key2']

'value2'

In [127]:
price_lookup = {'apples':1.99, 'oranges': 5.90}

In [128]:
price_lookup['apples']

1.99

In [129]:
d = {'k1':123, 'k2':[1,2,3], 'k3':{'anotherKey':900}}

In [130]:
d['k2']

[1, 2, 3]

In [131]:
d['k2'][0]

1

In [132]:
d['k3']['anotherKey']

900

In [133]:
d1 = {'k1':100, 'k2':200, 'k3':300}

In [134]:
# Adding another k-v pair to the dictionary

d1['k4'] = 500

In [135]:
d1

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 500}

In [138]:
# Editing another key value pair

d1['k1'] = 999

In [137]:
d1

{'k1': 999, 'k2': 200, 'k3': 300, 'k4': 500}

In [139]:
# Get keys

d1.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [140]:
# Get values

d1.values()

dict_values([999, 200, 300, 500])

In [142]:
# Get k-v pairs in the form of tuples

d1.items()

dict_items([('k1', 999), ('k2', 200), ('k3', 300), ('k4', 500)])

## Tuples

Similar to lists but are immutable. Once the element is assigned, it cannot be reassigned.

In [143]:
t = (1, 2, 3)

In [144]:
mylist = [1, 2, 3]

In [145]:
type(t)

tuple

In [146]:
type(mylist)

list

In [147]:
len(t)

3

In [148]:
t = ('one', 2)

In [149]:
t

('one', 2)

In [150]:
t[0]

'one'

In [151]:
t[-1]

2

In [153]:
t[::-1]

(2, 'one')

In [158]:
t = ('a','a','a','a','a','b')

In [159]:
t.count('a')

5

In [160]:
t.index('a')

0

In [161]:
t.index('b')

5

In [162]:
t[-1] = 'x'

TypeError: 'tuple' object does not support item assignment

## Sets

UnOrdered collection of unique elements. There can be only one represention of one object.

In [163]:
myset = set()

In [164]:
myset

set()

In [165]:
myset.add(1)

In [166]:
myset

{1}

In [167]:
myset.add('Helloi')

In [168]:
myset

{1, 'Helloi'}

In [169]:
myset.add(a)

In [170]:
myset

{1, 1.3, 'Helloi'}

In [171]:
myset.add(1)

In [172]:
myset

{1, 1.3, 'Helloi'}

In [173]:
mylist2 = ['1','1','1',2,2]

In [174]:
set(mylist2)

{'1', 2}

## Booleans

Operators that allow you to convey True or False statements. Important to deal with control flow.

In [175]:
True

True

In [176]:
true

NameError: name 'true' is not defined

In [177]:
False

False

In [178]:
false

NameError: name 'false' is not defined

In [179]:
type(True)

bool

In [180]:
1 > 2

False

In [181]:
1 == 1

True

In [184]:
b = None #placeholder object

In [183]:
type(b)

NoneType

## Files

In [185]:
%%writefile myfile.txt
Hello there! This is a text file written using Jupyter notebook
This is a second line
This is the third line

Writing myfile.txt

In [186]:
myfile = open('myfile.txt')

In [187]:
myfile2 = open('unavailablefile.xyz')

FileNotFoundError: [Errno 2] No such file or directory: 'unavailablefile.xyz'

In [188]:
pwd

'/home/tushar/Desktop/Python-Bootcamp'

In [192]:
myfile.read()

'Hello there! This is a text file written using Jupyter notebook\nThis is a second line\nThis is the third line\n'

In [193]:
myfile.read()

''

In [196]:
myfile.seek(0)

0

In [195]:
myfile.read()

'Hello there! This is a text file written using Jupyter notebook\nThis is a second line\nThis is the third line\n'

In [197]:
contents = myfile.read()

In [198]:
myfile.seek(0)

0

In [199]:
myfile.readlines()

['Hello there! This is a text file written using Jupyter notebook\n',
 'This is a second line\n',
 'This is the third line\n']

### File Locations

In [200]:
pwd

'/home/tushar/Desktop/Python-Bootcamp'

In [201]:
myfile.close()

In [210]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.readlines()

In [211]:
contents

['Hello there! This is a text file written using Jupyter notebook\n',
 'This is a second line\n',
 'This is the third line\n']

### File Modes

In [216]:
with open('myfile.txt', 'r') as my_new_file1:
    contents = my_new_file1.readlines()
contents

['Hello there! This is a text file written using Jupyter notebook\n',
 'This is a second line\n',
 'This is the third line\n']

In [217]:
with open('myfile.txt', 'w') as my_new_file2:
    contents = my_new_file2.readlines()
contents

UnsupportedOperation: not readable

mode = 'r'  - Read only<br>
mode = 'w'  - Write only(Overwrites or create new)<br>
mode = 'a'  - Append only<br>
mode = 'r+' - Reading and Writing<br>
mode = 'w+' - Writing and reading. Overwrites existing files or creates a new file.

In [226]:
%%writefile myfile.txt
FIRST LINE
SECOND LINE
THIRD LINE

Overwriting myfile.txt

In [227]:
with open('myfile.txt','r') as my_file:
    content = my_file.readlines()
content

['FIRST LINE\n', 'SECOND LINE\n', 'THIRD LINE\n']

In [228]:
with open('myfile.txt','a') as my_file:
    my_file.write('FOURTH_LINE')

In [231]:
with open('myfile.txt','r') as my_file:
    print(my_file.read())

FIRST LINE
SECOND LINE
THIRD LINE
FOURTH_LINE

In [232]:
with open('testfile.txt','w') as f:
    f.write('This is the first line of the new file')

In [233]:
with open('testfile.txt','r') as my_file:
    print(my_file.read())

This is the first line of the new file