Use help() to know about any built in method provided by python

In [5]:
def name_function():
    """ This function prints Hello"""
    print("Hello!")

In [6]:
name_function

In [7]:
name_function()

Hello!

In [8]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    This function prints Hello

In [9]:
def say_hello(name = "ned"):
    print(f'Hello {name}')

In [11]:
say_hello()

Hello ned

In [12]:
say_hello("Tushar")

Hello Tushar

In [13]:
def add(n1, n2):
    return n1 + n2

In [14]:
sum1 = add(1,2)
sum1

3

In [19]:
def pig_latin(word):
    
    first_letter = word[0]
    
    if first_letter in 'aeiou':
        return word + 'ay'
    else:
        return word[1:] + first_letter + 'ay'

In [20]:
pig_latin('word')

'ordway'

In [21]:
pig_latin('apple')

'appleay'

## *args and **kargs

In [30]:
# a and b are positional arguments

def myfunc(a,b):    
    return sum((a,b))

In [31]:
x = myfunc(40,60)
x

100

In [35]:
def myfunc(*args):
    print(args)
    return sum(args)

In [36]:
myfunc(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

21

In [37]:
myfunc(9)

(9,)

9

kwargs = key word arguments

In [41]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print(kwargs['fruit'])
    else:
        print('Nothing here')

In [42]:
myfunc(fruit = 'apple')

{'fruit': 'apple'}
apple

In [43]:
myfunc()

{}
Nothing here

# Practice Exercises

In [5]:
# 1

def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    elif a > b:
        return a
    else:
        return b

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(2,5)

5

In [10]:
# 2

def animal_crackers(text):
    temp = text.split()
    if len(temp) != 2:
        return False
    else:
        if temp[0][0].lower() == temp[1][0].lower():
            return True
        else:
            return False

In [11]:
animal_crackers("Hello World")

False

In [12]:
animal_crackers("xyz")

False

In [14]:
animal_crackers("hello Hello")

True

In [16]:
# 3

def makes_twenty(n1, n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [17]:
makes_twenty(1,19)

True

In [18]:
makes_twenty(1,1)

False

In [19]:
makes_twenty(20,1)

True

In [20]:
makes_twenty(1,20)

True

In [22]:
makes_twenty(0,0)

False

## Level 1 problems

In [25]:
# 1 

def old_macdonald(name):
    new_name = name[0].upper() + name[1:3] + name[3].upper() + name[4:]
    return new_name

old_macdonald("macdonald")

'MacDonald'

In [31]:
# 2

def master_yoda(text):
    temp = text.split()
    temp = temp[::-1]
    new_text = " ".join(temp)
    return new_text

In [32]:
master_yoda("Hello world")

'world Hello'

In [33]:
master_yoda("I am Ready")

'Ready am I'

In [34]:
# 3

def almost_there(n):
    if n in range(90,111) or n in range(190,211):
        return True
    else:
        return False

In [35]:
almost_there(104)

True

In [36]:
almost_there(90)

True

In [37]:
almost_there(150)

False

In [38]:
almost_there(209)

True

## Level 2 Problems

In [64]:
#1

In [40]:
l = [1,3,3]

In [56]:
def has_33(nums):
    for i,v in enumerate(nums):
        if v == 3:
            if i + 1 <= len(nums) - 1:
                if nums[i + 1] == 3:
                    return True
            else:
                continue
    return False

In [57]:
has_33([1,3,3])

True

In [58]:
has_33([1,3,1,3])

False

In [59]:
has_33([1])

False

In [60]:
has_33([3])

False

In [61]:
has_33([3,3])

True

In [62]:
has_33([1,2,3,1,3,4,3,3])

True

In [63]:
has_33([1,2,3,1,3,4,3])

False

In [65]:
# 2

In [77]:
text = 'Tushar'

temp = [x for x in text]
temp

['T', 'u', 's', 'h', 'a', 'r']

In [78]:
temp = [x * 3 for x in temp]
temp

['TTT', 'uuu', 'sss', 'hhh', 'aaa', 'rrr']

In [79]:
"".join(temp)

'TTTuuussshhhaaarrr'

In [80]:
def paper_doll(text):
    temp = [x * 3 for x in text]
    return "".join(temp)

In [81]:
paper_doll("Hello")

'HHHeeellllllooo'

In [82]:
# 3

In [97]:
def black_jack(a,b,c):
    sum = a + b + c
    if sum <= 21:
        return sum
    else:
        if a == 11 or b == 11 or c == 11:
            sum = sum - 10
            if sum < 22:
                return sum
        else:
            return 'BUST'

In [98]:
black_jack(5,6,7)

18

In [99]:
black_jack(9,9,9)

'BUST'

In [100]:
black_jack(9,9,11)

19

In [101]:
# 4

In [107]:
a = [1,2,3,4,5,6,8,7,9]
enumerate(a)

In [118]:
start, end = 0, 0
for i,v in enumerate(a):    
    if v == 6:
        start = i
        print(start)
    elif v == 9:
        end = i
        print(end)

t = a[:start] + a[end + 1:]
t

5
8

[1, 2, 3, 4, 5]

In [130]:
def summer_69(arr):
    start, end = 0, 0
    for i,v in enumerate(arr):    
        if v == 6:
            start = i    
        elif v == 9:
            end = i
    if start != 0 and end != 0:
        arr = arr[:start] + arr[end + 1:]
    print(arr)
    sum1 = sum(arr)
    return sum1

In [131]:
summer_69([1,3,5])

[1, 3, 5]

9

In [132]:
summer_69([4,5,6,7,8,9])

[4, 5]

9

In [134]:
summer_69([2,1,6,9,11])

[2, 1, 11]

14

# Lambda expressions

Used to create no name, one line anonymous functions that we wont need again

In [135]:
# map() helps in mapping function to every element of the iterable

help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [154]:
def square(num):
    return num ** 2

In [155]:
my_nums = [1,2,3,4,5]

In [156]:
x = map(square, my_nums)

In [151]:
for item in x:
    print(item)

1
4
9
16
25

In [157]:
my_nums1 = list(map(square, my_nums))

In [158]:
my_nums1

[1, 4, 9, 16, 25]

In [159]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [160]:
names = ['Jon','Robb','Theon','Jamie']

In [161]:
list(map(splicer, names))

['J', 'EVEN', 'T', 'J']

In [162]:
# filter helps to filter out those elements of the iterable for which the function return TRUE

In [163]:
def check_even(num):
    return num % 2 == 0

In [164]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [166]:
list(filter(check_even, nums))

[2, 4, 6, 8, 10]

## Lambda Expressions

In [169]:
def square(num):
    result = num ** 2
    return result

In [170]:
square(3)

9

In [171]:
def square(num):    
    return num ** 2

In [174]:
square = lambda num:num ** 2

In [175]:
square(4)

16

In [176]:
# WE use lambda expressions with map and filter

In [178]:
list(map(lambda num: num ** 2,[1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [182]:
list(filter(lambda num: num % 2 == 0,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

# Nested Statements and Scope

Names are stored in namespace and scope determines the visibility of the variables

In [187]:
x = 24

def printer():
    x = 50
    return x

In [188]:
printer()

50

# LEGB- Local Enclosing Local Global Builtin

In [189]:
# Local variable

lambda num:num ** 2

In [194]:
# Enclosing function Local variable

#Global
name = "THIS IS A GLOBAL STRING"

def greet():
    #Enclosing
    name = 'Tushar'
    
    def hello():
        #Local
        name = 'xya'
        print("hello " + name)
        
    hello()
greet()

hello Tushar

In [202]:
x = 100

def function():
    global x
    x = 99
    print(f'X is now {x}')

In [203]:
function()

X is now 99

In [204]:
x

99