### Control flow statements - If else elif

In [1]:
if True:
    print("Its true")

Its true

In [2]:
hungry = True
if hungry:
    print("Feed me!")
else:
    print("I'm not hungry")

Feed me!

In [3]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
else:
    print('I know nothing!')

Money is cool

### Loops

In [4]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [7]:
for num in mylist:
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [8]:
list_sum = 0
for num in mylist:
    list_sum += num
print(f"Sum is {list_sum}")

Sum is 55

In [9]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [10]:
tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

In [11]:
# Tuple unpacking

list2 = [(1,2),(2,3),(3,4),(4,5)]

In [12]:
len(list2)

4

In [13]:
for item in list2:
    print(item)

(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [15]:
for a,b in list2:
    print(a)
    print(b)

1
2
2
3
3
4
4
5

In [16]:
d = {'k1':1, 'k2':2,'k3':3}

In [17]:
for item in d:
    print(item)

k1
k2
k3

In [18]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [20]:
for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [21]:
for key in d.keys():
    print(key)

k1
k2
k3

In [22]:
for value in d.values():
    print(value)

1
2
3

### While loops

In [2]:
x = 0

while x < 5:
    print(f'The current value of x ix {x}')
    x += 1    
else:
    print('x is not less than 5')

The current value of x ix 0
The current value of x ix 1
The current value of x ix 2
The current value of x ix 3
The current value of x ix 4
x is not less than 5

### break, continue, pass

In [4]:
x = [1,2,3]
for item in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-4-e551111abc8e>, line 3)

In [5]:
for item in x:
    pass   #place holder to avoid syntax error

In [7]:
mystring = 'Tushar'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

T
u
s
h
r

In [8]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

T
u
s
h

In [12]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x = x + 1

0
1

## Useful Operators

### range()

In [13]:
mylist = [1,2,3]

In [14]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [15]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [16]:
for num in range(3,10,3):
    print(num)

3
6
9

In [17]:
range(3,10,3)

range(3, 10, 3)

#### Range is a genterator. A special type of function. Instead of saving information in the memory, it generates information whenever called upon.

In [18]:
list(range(3,10,3))

[3, 6, 9]

### enumerate

In [20]:
index_count = 0

for letter in 'tushar':
    print('at index {}, the letter is {}'.format(index_count,letter))
    index_count += 1

at index 0, the letter is t
at index 1, the letter is u
at index 2, the letter is s
at index 3, the letter is h
at index 4, the letter is a
at index 5, the letter is r

In [21]:
word = 'Tushar'

for item in enumerate(word):
    print(item)

(0, 'T')
(1, 'u')
(2, 's')
(3, 'h')
(4, 'a')
(5, 'r')

In [23]:
for index, letter in enumerate(word):
    print('at index {}, the letter is {}'.format(index,letter))

at index 0, the letter is T
at index 1, the letter is u
at index 2, the letter is s
at index 3, the letter is h
at index 4, the letter is a
at index 5, the letter is r

### zip() - Generator

In [33]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d']
mylist3 = [555,55,55]

In [34]:
zip(mylist1,mylist2)

In [36]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 555)
(2, 'b', 55)
(3, 'c', 55)

In [37]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 555), (2, 'b', 55), (3, 'c', 55)]

### in operator

In [38]:
'x' in [1,2,3]

False

In [39]:
'2' in ['2','4','5']

True

In [40]:
'a' in {'a':12424}

True

In [42]:
d = {'a':12424}

12424 in d.values()

True

In [43]:
12424 in d.keys()

False

### min, max

In [44]:
list4 = [1,2,3,45,6,7,8,7]

In [45]:
min(list4)

1

In [46]:
max(list4)

45

### Randomly shuffle

In [47]:
from random import shuffle

In [48]:
list5 = [1,2,4,5,7,9,6,4]
random_list = shuffle(list5)

In [50]:
list5

[5, 4, 7, 6, 9, 2, 1, 4]

### Random integer

In [51]:
from random import randint

In [52]:
randint(0,100)

5

In [53]:
randint(0,100)

95

In [54]:
x = randint(0,100)

In [55]:
x

12

### Accepting user input- Everything is accepted as a string

In [59]:
input("Enter something:")

Enter something:a,sdnaskj

'a,sdnaskj'

In [60]:
x = input("Enter something: ")

Enter something: alkfnlafn

In [61]:
x

'alkfnlafn'

## List comprehensions

Quickly create a list in python.

In [62]:
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [63]:
mylist6 = [letter for letter in mystring]

In [64]:
mylist6

['h', 'e', 'l', 'l', 'o']

In [65]:
mylist7 = [x for x in range(0,10)]

In [66]:
mylist7

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
mylist8 = [x ** 2 for x in range(0,10)]

In [68]:
mylist8

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
mylist9 = [x for x in range(0,10) if x % 2 == 0]
mylist9

[0, 2, 4, 6, 8]

In [72]:
celcius = [0,10,20,34.5]

fahrenheit = [(9/5)*x + 32 for x in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [74]:
results = [x if x %2 == 0 else 'ODD' for x in range(0,10)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [78]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x * y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [80]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]